body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#images {
    width: 40vw;
    background-image: url("./imgs/javier-santos-guzman-9MR78HGoflw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background: #Fafafa;
}

#text-title {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 5%;
    margin-bottom: 5%;
}

#input-area {
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.inputs {
    display: flex;
    margin-top: 5%;
    width: auto;

}

legend {
    margin-left: 1%;
    margin-top: 1%;
}

fieldset {
    border: 0;
    width: 60vw;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


input {
    height: 3vh;
    width: 200px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

button {
    margin-top: 2%;
    margin-left: 2%;
    height: 70px;
    width: 200px;
    font-size: 24px;
}

p{
    margin-left: 2%;
    font-size: 19px;
}

a {
    text-decoration: none;
}

#logo-background {
    background: lightgray;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 700px;
}

.logo {
    height: 150px;
}

